th,
td {
  border: 2px solid rgb(209, 206, 206);
  color: #000000;
  padding: 10px;
}

thead {
  background-color: rgb(209, 206, 206);
  font-weight: bold;
}

tbody {
  background-color: whitesmoke;
}
